body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-size: 16px;
    background-color: #FFFFFF;
}

:root{
    --title-color: #343549;
    --text-color:#434455;
    --accent-color:#4D5AE5;
    --hoveraccent-color:#404BBF;
    --logo-white-color:#F4F4FD;
    --color-icon:#8E8F99;
    --border-color:#E7E9FC;
    --color-hover-footer:#31D0AA;
    --textfont:'Raleway', sans-serif; 
}

h1,h2,h3,p,ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
/* Прибирання відступу у картинки знизу */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.conteiner{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
    
}

/* header */
 .conteiner.header{
    display: flex;
    align-items: center;
} 
.nav-conteiner{
    display: flex;
}
.all-logo{
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
    
    font-family: var(--textfont);
    font-size: 18px;
    color: var(--title-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.03em;
}
.logo{
    color: var(--accent-color);
}
.nav,
.objectives,
.doing-list,
.team-list,
.list{
    list-style-type: none;
}
.nav{
    display: flex;
}
/* У всех елементов списка отступ с права кроме последнего */
.nav-item:not(:last-child){
    margin-right: 40px;
}
.nav-list{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;  
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-list:hover,
.nav-list:focus{
    color: var(--hoveraccent-color);
}
.contact{
    display: flex;
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-marning{
    margin-left: auto;
}
.contact-link{
    padding-top: 24px;
    padding-bottom: 24px;
}
.contact-link.space:not(:last-child){
    margin-right: 40px;
}
.contact a{
    color: var(--text-color);
    text-decoration: none;
}
.contact a:hover,
.contact a:focus{
    color: var(--hoveraccent-color);
}
/* main */
.Order-section{
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/people-office\ .jpg);
}
.conteiner.order{
    padding: 188px 0;
    text-align: center;
}
.title-main{
    margin-left: auto;
    margin-right: auto; 
    max-width: 496px;
    margin-bottom: 48px;
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07em;
}
.button-order{
    min-width: 105px;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    
    color: #ffffff;
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    cursor:pointer;
    letter-spacing: 0.04em;
    font-family: inherit;
}
.button-order:hover,
.button-order:focus{
    background-color: var(--hoveraccent-color);
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.objectives{
    display: flex;
}

.objectives-item{
    width: calc((100% - 3 * 24px) / 4);
}
.objectives-item:not(:last-child){
    margin-right: 24px;
}
.space-advantages{
    display: flex; 
    justify-content: center;
    align-items: center;
    height:112px;
    
    background-color: var(--logo-white-color);
    border-radius: 4px;
    margin-bottom: 8px;
}
.icon-advantages{
    width: 60px;
    height: 64px;
}
.objectives-h{
    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height:1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}
.objectives-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.doing.section{
    padding-top: 0;
}
.doing-list{
    display: flex;
}
.doing-space{
    width: calc((100% - 2 * 24px) / 3),

}
.doing-space:not(:last-child){
    margin-right: 24px;
}
.doing-h{
    text-align: center;
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height:1.1;
    letter-spacing: 0.02em;

    margin-bottom: 72px;
}

.team{
    background-color: var(--logo-white-color);
}

.team-h2{
    display: block;
    text-align: center;
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height:1.1;
    letter-spacing: 0.02em;

    margin-bottom: 72px;
} 
.team-h3{
    margin-bottom: 8px;
    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height:1.2;
    letter-spacing: 0.02em;
}
.photo-space{
    margin-bottom: 32px;
}
.team-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.team-list{
    display: flex;
}
.team-space{
    width: calc((100% - 3 * 24px) / 4);
    text-align: center;
    padding-bottom: 32px;

    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;  
}
.team-space:not(:last-child){
    margin-right: 24px;
}
.list-networks{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.list-networks li:not(:last-child){
    margin-right: 24px;
}
.link-networks{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: var(--accent-color);
}
.link-networks:hover,
.link-networks:focus{
    background-color: var(--hoveraccent-color);
}
.networks{
    width: 16px;
    height: 16px;
    fill:var(--logo-white-color);
}
/* customers */
.customers{
    text-align: center;
}
.customers-title{
    display: block;
    text-align: center;
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height:1.1;
    letter-spacing: 0.02em; 

    margin-bottom: 72px;
}


.list-customers{
    display: flex;
    max-width: 1128px;
    gap:24px;
}
.list-customers li{
    flex-basis:calc((100% - 24 * 5) / 6);
}

.color-icon{
    display: block;
    padding: 16px 32px;
    color: var(--color-icon);
    border: 1px solid #8E8F99;
    border-radius: 4px;
}
.color-icon:hover,
.color-icon:focus{
    color: var(--hoveraccent-color);
    border-color: var(--hoveraccent-color);
}
.customers-item{
    width: 102px;
    height: 56px;
    fill: currentColor;
}
.footer{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.box{
    display: flex;
}
.footer-logo{
    display: inline-block;
    font-family: var(--textfont);
    margin-bottom: 16px;
    color: var(--logo-white-color);
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.03em;
}
.footer-text{
    width: 264px;;
    color:var(--border-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.social{
    margin-left: 120px;
}
.social-title{
    color: #FFFFFF;
    font-weight: 500;

    margin-bottom: 16px;
}
.media-list{
    display: flex;
    width: 280px;
}
.media-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.media-list li:not(:last-child){
    margin-right: 16px;
}
.media-icon{
    max-width: 24px;
    max-height: 24px;
    fill: var(--logo-white-color); 
}
.media-link:hover,
.media-link:focus{
    background-color: var(--color-hover-footer);
}



/* portfolio */
.line{
    border-bottom: 1px solid var(--border-color);
}

.portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}
.button-nav-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    
    margin-bottom: 72px;
}
.button-item:not(:last-child){
    margin-right: 24px;
}
.button-item:hover,
.button-item:focus{
    border-radius: 4px;
}

.button-nav{
    margin: 0;
    padding: 12px 24px;
 
    color: var(--accent-color);
    background-color:var(--logo-white-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    cursor:pointer;
    font-family: inherit;
}
.button-nav:hover,
.button-nav:focus{
    color: #ffffff;
    border-color:transparent;
    background-color: var(--hoveraccent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples{
    justify-content: center;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.examples-item{
    width: calc(100% - 24 * 2) / 3;
}
.examples-item{
    margin-right: 24px;
    margin-bottom: 48px;

}
.examples-item:nth-child(3n){
    margin-right: 0;
}
.examples-item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.content{
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.examples-link{
    display: block;
    color: var(--text-color);
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.examples-link:hover,
.examples-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.examples-list{
    margin-bottom: 8px;

    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height:1.2;
    letter-spacing: 0.02em;
}
.examples-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
